.git
.env
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*.php
/storage/logs/*.log
/tests
.editorconfig
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
phpunit.xml
README.md
toArray())
check_config.php
check_domains.php
check_admins.php
