services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_CONNECTION=central
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=db_jhonatan_morales
      - DB_USERNAME=root
      - DB_PASSWORD=root
    depends_on:
      - db
    command: >
      bash -c "php artisan migrate:fresh --seed &&
               php artisan tenants:seed &&
               apache2-foreground"

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: db_jhonatan_morales
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
